PORT=5000

MONGO_URI=mongodb://127.0.0.1:27017/rashid_minhas_school

NODE_ENV=development

CLIENT_URL=http://localhost:5173

JWT_SECRET=M/YO+d7icPeBO5hsVXpvIslv2uwpOVDllVb3kaPwMsMkUsC3NxiRHWsJnR6UUYb/
JWT_EXPIRES_IN=1d